
/* Fix for responsive images - use on IMG tag */
@mixin flexImage {
	max-width: 100%;
	/* just in case, to force correct aspet ratio */
	height: auto !important;
	/* IE7 support - use this to make sure the images survive the scale-down */
	-ms-interpolation-mode: bicubic;
}

/* Mobile icons for retina display */
@mixin at2x($image_name, $w: auto, $h: auto, $extention: '.png') {
	background-image: url("../images/mobile/" + $image_name + $extention);
	$x2img : $image_name + '@2x' + $extention;
	@media all and (-webkit-min-device-pixel-ratio : 1.5) {
		background-image: url("../images/mobile/" + $x2img);
		background-size: $w $h;
	}
}
